@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #010c15;
  --primary-black: #01080e;
  --primary-blue: #011627;
  --primary-gray: #011221;
  --secondary-gray: #607b96;
  --secondary-green: #3c9d93;
  --secondary-purple: #4d5bce;
  --secondary-white: #ffffff;
  --accent-orange: #fea55f;
  --accent-green: #43d9ad;
  --accent-peach: #e99287;
  --accent-violet: #c98bdf;
  --accent-border: #1e2d3d;
}

